* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 450px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: none;
    outline: none;
    color: #555;
    background-color: #ebfffc;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}

.search button {
    border: none;
    outline: none;
    background-color: #ebfffc;
    cursor: pointer;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.search button img {
    width: 21px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    text-transform: capitalize;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.detail {
    display: flex;
    align-items: center;
    text-align: left;
}

.detail img {
    width: 40px;
    margin-right: 10px;
}

.humidity,.wind {
    font-size: 25px;
    margin-top: -4px;
}

/* vansh4117v */